* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Martian Mono", monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root header {
  flex: 2;
  border-right-color: orange;
  border-right-style: solid;
  border-right-width: 4px;
  flex: 2;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#root header .nav--header {
  text-align: center;
  font-size: 40px;
}
#root header .nav--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#root header .nav--main a {
  text-decoration: none;
  transition: 100ms color linear;
  color: #6F6D91;
  font-size: 20px;
}
#root header .nav--main a:hover {
  text-decoration: underline;
  color: #3437de;
}
#root header .nav--footer .logo-section {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
#root header .nav--footer .logo-section .logo {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F3F3F6;
  box-shadow: 0 0 1 #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root header .nav--footer .logo-section .logo > svg {
  scale: 1.5;
}
#root header .nav--footer .copyright-section {
  margin: 0 20px;
  text-align: center;
  margin-top: 40px;
  color: gray;
  font-weight: 300;
  font-size: 13px;
}
#root header .nav--footer .copyright-section a {
  text-decoration: none;
  color: gray;
}
#root header .nav--footer .copyright-section .anchor-holberton {
  margin-top: 20px;
  text-decoration: underline;
  text-align: justify;
}
#root main {
  flex: 8;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root main .upper-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafaea;
  padding: 40px 0;
  margin-top: 40px;
  gap: 60px;
}
#root main .upper-content .self-description {
  padding: 60px 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
#root main .upper-content .self-description .left-side {
  flex: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
}
#root main .upper-content .self-description .left-side h1 {
  font-weight: 700;
  font-size: 40px;
}
#root main .upper-content .self-description .left-side .btn {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 40px 0 0 20px;
  border-radius: 8px;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3437de;
  color: white;
}
#root main .upper-content .self-description .right-side {
  width: 100%;
  height: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
#root main .upper-content .self-description .right-side .articles {
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
}
#root main .upper-content .self-description .right-side .articles p {
  margin-bottom: 20px;
}
#root main .upper-content .self-description .right-side .self-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 4px;
}
#root main .upper-content .self-description .right-side .self-information .info-chunk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: orange;
  padding-left: 8px;
  width: 100%;
  height: 100%;
}
#root main .upper-content .self-description .right-side .self-information .info-chunk .data-name {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 200;
}
#root main .upper-content .self-description .right-side .self-information .info-chunk .data-value {
  font-size: 14px;
  font-weight: 700;
}
#root main .upper-content .cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#root main .upper-content .cards-section .card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 8px;
  border: 2px solid black;
  background-color: #3437de;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  height: 120px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root main .upper-content .cards-section .card strong {
  color: #FF972D;
  font-weight: 700;
}
#root main .lower-content {
  width: 100%;
  padding: 40px 60px;
  height: 100%;
  background-color: #F3F9FF;
}
#root main .lower-content h1 {
  font-size: 40px;
  font-weight: 700;
}
#root main .lower-content p {
  font-size: 16px;
  color: gray;
  font-weight: 300;
  margin-top: 10px;
}
#root main .lower-content .cards {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  color: black;
}
#root main .lower-content .cards .card {
  width: 500px;
  height: 200px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#root main .lower-content .cards .card p {
  color: black;
  font-size: 24px;
  display: block;
  text-align: center;
}
#root main .lower-content .cards .card p ul {
  list-style-type: none;
}
#root main .lower-content .cards .card strong {
  font-weight: 700;
  color: #3437de;
}

footer {
  margin-top: 110px;
  height: 300px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
footer .footer-section {
  width: 20%;
  height: 80%;
  padding: 10px 20px;
}
footer .footer-section h1 {
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 24px;
}
footer .footer-section p {
  font-size: 18px;
  margin-bottom: 10px;
}

aside#disqus-container {
  display: block;
  flex: 2;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
